<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password Admin</title>
</head>
<body>

<h1>Change Password</h1>

<form method="post"  action="/myapp/changepassword/">
    {% csrf_token %}

    <label for="current_password">Current Password:</label>
    <input type="password" id="current_password" name="current_password" required>

    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required>

    <label for="confirm_password">Confirm New Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>

    <button type="submit">Change Password</button>
</form>

<a href="/myapp/login_view/">Back to login</a>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}


</body>
</html>