<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new_company</title>
</head>
<body>
<h2>new_company</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Approval Status</th>
        <th>Email</th>
        <th>Photo</th>
        <th>Accept/Reject</th>
    </tr>

    {% for i in company  %}
    <tr>
        <td>{{ i.company_name }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.phone }}</td>
        <td>{{ i.approval_status }}</td>
        <td>{{ i.email }}</td>
        <td>
            {% if i.photo %}
                <img src="{{ i.photo.url }}" alt="Photo" width="80" height="80">
            {% else %}
                No Photo
            {% endif %}
        </td>
        <td><a href="/myapp/accept_company/{{ i.id }}">accept_company</a><br><a href="/myapp/reject_company/{{ i.id }}">reject_company</a></td>
    </tr>
    {% endfor %}
</table>

    {% if messages %}
        {% for message in messages %}
            <p style="color: green;">{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>
